<% categories = Category.all %>
<nav>
    <ul class="uk-list uk-flex">
        <% categories.each do |category| %>
            <li class="uk-padding-small uk-margin-remove">
              <%= link_to category.name, category_view_path(category.url) %>
            </li>
        <% end %>
    </ul>
</nav>