<nav>
    <ul>
        <li>
          <%= link_to 'Home', root_path , class: 'some-shit' %>
        </li>
        <li>
          <%= link_to 'Categories', categories_path, class: 'some-shit' %>
        </li>
    </ul>
</nav>